# =========================
# Databases
# =========================
*.db
*.sqlite
*.sqlite3
*.db-journal
*.sqlite-journal
*.db-wal
*.sqlite-wal
*.db-shm
*.sqlite-shm

# =========================
# Excel files
# =========================
*.xls
*.xlsx
*.xlsm

# =========================
# CSV files
# =========================
*.csv

# =========================
# Parquet / Feather (por si acaso)
# =========================
*.parquet
*.feather

# =========================
# Backup files
# =========================
*.bak
*.tmp
*.swp